*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    font-size: 14px;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.insta-home{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

.insta-phone{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.insta-phone img{
    height: 50rem;
}

.insta-entrada{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}

.blank{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    min-height: 19rem;
    width: 100%;
    background-color: white;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
}

.insta-logo{
    height: 3rem;
    align-items: center;
    justify-content: center;
}

.insta-foto{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    border-radius: 50%;
    overflow: hidden;
}


.insta-login{
    background-color: blue;
    color: #fff;
    padding: 6px;
    border-radius: 4px;
    margin-top: 1rem;
}

.insta-logout{
    color: blue;
    margin-top: 1rem;

}

.insta-app{
    display: flex;
    align-items: center;
    justify-content: center;

}

.app-text{
    padding: 10px;
    text-align: center;
    color: gray;
}

.insta-app-download{
    padding: 10px;
    width: 200px;
}

@media (max-width: 1024px){
    .insta-home{
        width: 90%;
    }
}

@media (max-width: 650px){
    body{
        background-color: #fff;
    }

    .insta-home{
        width: 90%;
    }

    .insta-phone{
        display: none;
    }

    .insta-entrada{
        width: 100%;
    }

    .blank{
        border: 1px solid transparent;
    }

    .insta-app-download{
        padding: 5px;
        width: 150px;
}